<form class="form-horizontal" name="loginForm" ng-submit="userCTRL.addUsers(product)">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-10">
			      <input ng-model="userCTRL.login.username" type="text" class="form-control" placeholder="castejon">
			    </div>
			</div>

			<div class="form-group">
			  	<label for="inputPassword3" class="col-sm-2 control-label">E-mail</label>
			    <div class="col-sm-10">
			    	<input class="form-control" type="email" id="email" name="email" ng-model="userCTRL.login.email" placeholder="lucas@castejon.me" required/>
			    </div>
			</div>

			 <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

			    <div class="col-sm-10">
			        <input class="form-control" type="password" id="password" name="password" ng-model="userCTRL.login.passwd" ng-minlength="8" ng-maxlength="20" placeholder="**********"  required />

			        <span ng-show="loginForm.password.$error.required && loginForm.password.$dirty">
			        	required
			        </span>

				   	<span ng-show="!loginForm.password.$error.required && (loginForm.password.$error.minlength || loginForm.password.$error.maxlength) && loginForm.password.$dirty">
				   		Passwords must be between 8 and 20 characters.
				   	</span><br/>
				       
			    </div>
			</div>

			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" ng-click="status='true'" class="btn btn-default">
			      		Sign up
			        </button>
			    </div>
			</div>

		</div>
	</div>
</form>