<div class="row">
	<div ng-hide="status">
	    <section ng-init="msgHeader = 'Sign-IN' "></section>
	</div>

	<form class="form-inline">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		    <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail3">Username</label>
			    <input ng-model="userCTRL.sign.username" type="text" class="form-control" id="username" placeholder="Enter username">
		  	</div>
	        <div class="form-group">
			    <label class="sr-only" for="passwd">Password</label>
			    <input ng-model="userCTRL.sign.passwd" type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
			</div>
		</div>

		<div class="col-md-4">
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Sign in</button>
		</div>
	</form>
</div>